*.user
*.suo

source/DDDBuildingManagement/packages/
source/ISHousingMgmt/packages/

source/DDDBuildingManagement/_ReSharper.DDDBuildingManagement
source/DDDBuildingManagement/DDDBuildingManagement.ConsoleApp/bin/
source/DDDBuildingManagement/DDDBuildingManagement.ConsoleApp/obj/
source/DDDBuildingManagement/BuildingManagement.DomainModel/bin/
source/DDDBuildingManagement/BuildingManagement.DomainModel/obj/
source/DDDBuildingManagement/BuildingManagement.DomainModel.Tests/bin/
source/DDDBuildingManagement/BuildingManagement.DomainModel.Tests/obj/

source/ISHousingMgmt/_ReSharper.ISHousingMgmt
source/ISHousingMgmt/ISHousingMgmt.Web/bin/
source/ISHousingMgmt/ISHousingMgmt.Web/obj/
source/ISHousingMgmt/ISHousingMgmt.Web.Tests/bin/
source/ISHousingMgmt/ISHousingMgmt.Web.Tests/obj/
source/ISHousingMgmt/ISHousingMgmt.Domain/bin/
source/ISHousingMgmt/ISHousingMgmt.Domain/obj/
source/ISHousingMgmt/ISHousingMgmt.Domain.Tests/bin/
source/ISHousingMgmt/ISHousingMgmt.Domain.Tests/obj/
source/ISHousingMgmt/ISHousingMgmt.Infrastructure/bin/
source/ISHousingMgmt/ISHousingMgmt.Infrastructure/obj/
source/ISHousingMgmt/ISHousingMgmt.Infrastructure.Tests/bin/
source/ISHousingMgmt/ISHousingMgmt.Infrastructure.Tests/obj/