@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="grid_12" id="account-menu">@Html.Partial("_LogOnPartial")</div> <!-- .grid_12 -->
<div class="clear"></div> <!-- 12 -->

<div id="main">
	<div class="grid_3">@RenderSection("SideMenu", required: true)</div> <!-- .grid_3 -->
	<div class="grid_9">@RenderBody()</div> <!-- .grid_9 -->
	<div class="clear"></div> <!-- 12 -->
</div>
