@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="grid_3" id="login-left"><br /></div>
<div class="grid_6" style="background-color: #fff; padding: 10px;">
	@RenderBody()
</div> <!-- .grid_6 -->
<div class="grid_3"><br /></div>
<div class="clear"></div> <!-- 12 -->
